/*
* jQuery FlexSlider v2.2.0
* http://www.woothemes.com/flexslider/
*
* Copyright 2012 WooThemes
* Free to use under the GPLv2 license.
* http://www.gnu.org/licenses/gpl-2.0.html
*
* Contributing author: Tyler Smith (@mbmufffin)
*/


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}


/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; height: 100%;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides li > span {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    bottom: 20px;
    color: #fff;
    font-size: 26px;
    left: -30px;
    padding: 20px 40px;
    position: absolute;
    width: auto;
    z-index: 2;
    opacity: 0;
    transition: all 0.6s ease-in-out 0.4s;
    box-sizing: border-box;
}
.flexslider .slides li.flex-active-slide > span {
    left: 8px;
    opacity: 1;
}
@media (max-width: 600px) {

    .flexslider .slides li > span {
        border-radius: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding: 20px 40px;
        width: 100%;
        font-size: 1.1em;
    }
    .flexslider .slides li.flex-active-slide > span {
        left: 0;
        opacity: 1;
    }
}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
/*.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; border-radius: 4px; -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
*/
.flexslider-container {
    height: 100%;
    overflow: hidden;
}
.flexslider { background: #fff; position: relative; zoom: 1; height: 100%; }
.flex-viewport { max-height: 2000px; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; height: 100%;}

.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "Material Icons"; font-size: 40px; display: inline-block;}
.flex-direction-nav a.flex-next:before  {}
    .flex-direction-nav a i {
        font-size: 40px;
    }

    /* Pause/Play */
    .flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
    .flex-pauseplay a:before  { font-family: "Material Icons"; font-size: 20px; display: inline-block;}
    .flex-pauseplay a:hover  { opacity: 1; }
    .flex-pauseplay a.flex-play:before {}

        /* Control Nav */
        .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
        .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
        .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; border-radius: 20px; -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
        .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
        .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

        .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
        .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
        .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
        .flex-control-thumbs img:hover {opacity: 1;}
        .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

        @media screen and (max-width: 860px) {
            .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
            .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
        }
