@charset "utf-8";

body {
	background-color: #f1f1f1;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-size: 100%;
	font-weight: 400;
	color: #333;
	overflow: hidden;
}
a, a:visited {
	color: #5a595b;
	text-decoration: none;
	outline: none !important;
	transition: .3s ease-in-out;
}
a:hover {
	transition: .3s ease-in-out;
}
h1, h2, h3 {
	margin: 0 0 10px;
	font-weight: 700;
}
h4 {
	font-size: 1.6rem;
	font-weight: 400;
	letter-spacing: 0.01em;
	line-height: 2.4rem;
}

p {
	margin: 0 0 20px;
}
p:last-child {
	margin: 0;
}


/* SIDEBAR */
.sidebar {

}
.sidebar-header {
	height: 172px;
	position: relative;
}
.sidebar-toolbar {
	background-color: rgba(0, 0, 0, 0.77) !important;
	position: absolute;
}
.sidebar-header figure {
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.sidebar-header figure img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin: 0 0 8px 16px;
}
.sidebar-header figcaption {
	background-color: rgba(0, 0, 0, 0.67);
	box-sizing: border-box;
	padding: 8px 16px;
	width: 100%;
}
.sidebar-header figcaption span {
	color: rgba(0, 0, 0, 0.87);
	font-weight: 700;
}
.sidebar-categories {
	margin-top: 8px;
}
.sidebar-categories,
.sidebar-categories ul {
	list-style: outside none none;
	max-width: 100%;
	overflow-x: hidden;
	padding: 0;
}
.sidebar-categories li {
	margin: 0;
}
.sidebar-categories > li:nth-child(1) {
	border-top: none;
}

.sidebar-categories > li {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.sidebar-categories .md-button {
	border-radius: 0;
	color: rgba(0, 0, 0, 0.87);;
	cursor: pointer;
	display: block;
	line-height: 48px;
	margin: 0;
	max-height: 48px;
	overflow: hidden;
	padding: 0px 16px;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	width: 100%;
}
.sidebar-categories .md-button:hover {
	background: rgba(0, 0, 0, 0.1) !important;
}
.sidebar-categories .md-button:focus {
	background: rgba(0, 0, 0, 0.1) !important;
	color: #fff;
	font-weight: 700;
}
.sidebar-categories .md-button md-icon {
	color: white;
	font-size: 18px;
}
.sidebar-categories button.md-button::-moz-focus-inner {
	padding: 0;
}
.sidebar-categories .md-button.active {
	background: #267ED5;
}

/* HEADER */
.client-toolbar .search {
	float: right;
}
.client-toolbar .search form {
	float: left;
}
.client-toolbar .search form input {
	font-family: 'Roboto Condensed', sans-serif;
	background: none;
	border: none;
	border-bottom: 1px solid #999;
	color: #fff;
	margin-left: 10px;
	padding: 4px 0;
	width: 200px;
	height: 22px;
	font-weight: 300;
	font-size: 100%;
	display: none;
}
.client-toolbar .search form input:focus {
	border-bottom: 1px solid #fff;
}
.client-toolbar .search a#btn-search {
	float: left;
	cursor: pointer;
	color: #f1f1f1;
}

/* CONTENT */
.content{
	background-color: rgba(0, 0, 0, .01);
}
.banner-home {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 40vh;
	width: 100%;
	overflow: hidden;
}
.banner-home img {
	width: 100%;
	height: auto;
	display: block;
}
.banner-home .slides > li {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.banner-home span.banner-caption {
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	bottom: 20px;
	color: #fff;
	font-size: 26px;
	left: 10px;
	padding: 20px 40px;
	position: absolute;
	transition: all 0.6s ease-in-out 0.4s;
	width: auto;
	z-index: 2;
}
@media (max-width: 600px) {
	.banner-home span.banner-caption {
		border-radius: 0;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
.products {
	background-color: #f1f1f1;
	padding: 4px;
	/*width: auto;*/
}
.products .md-card-products {
	border: 4px solid #f1f1f1;
	border-radius: 0;
	box-shadow: none;
	box-sizing: border-box;
	margin: 0;
	position: relative;
}
.products-comments, .products-info {
	background-color: rgba(255, 255, 255, 0.9);
	height: calc(100% - 60px);
	left: 0;
	position: absolute;
	overflow: auto;
	top: 0;
	width: 100%;
	opacity: 1;
	transition: .4s ease-in-out;

}
.products-comments.ng-hide, .products-info.ng-hide {
	opacity: 0;
}
.products-info {
	box-sizing: border-box;
	padding: 32px 16px;
}
.products-info p {
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.01em;
	line-height: 1.2em;
}
.products-info p:last-child {
	margin: 0;
}
.products-info h3 {
	font-weight: 500;
}
.product-image {
	/*height: 290px;*/
	height: auto;
	overflow: hidden;
	position: relative;
}
.product-image img {
	width: 100%;
	height: auto !important;
	display: block;
	margin: 0 auto;
}
.product-image .md-price {
	background-color: #db4437;
	bottom: 0;
	color: #fff;
	font-size: 20px;
	padding: 6px 10px;
	position: absolute;
	right: 0;
}
.products .md-excerpt {
	color: rgba(0, 0, 0, 0.5);
}
.products .md-icon-like {
	color: #db4437;
}
.products .md-icon-comments {
	color: #003663;
}
.products .md-icon-info {
	color: #ffc800;
}

.product {
  margin: 0 auto;
  width: 960px;
}
@media (max-width: 1024px) {
	.product {
	  margin: 0 auto;
	  width: 100%;
	}
}
.product md-card {
  width: 100%;
}
.product .product-image {
  height: auto;
}
.product .product-comments {
	position: relative;
}
.product .product-info {
  margin-bottom: 40px;
  padding: 0 16px;
}
.product md-card-title {
  padding: 24px 32px 16px;
}

/*// MISC*/
.md-grid-item-content {
	height: 96px;
}
.md-grid-item-content md-icon {
	height: 48px;
	width: 48px;
}

.md-icon-button.md-badge {
	position: relative;
}

.search .md-errors-spacer {
    min-height: 0;
}
.search label,
.search input {
  color: rgba(255, 255, 255, 0.87);
  border-color: rgba(255, 255, 255, 0.67);
}

md-badge {
	background-color: red;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	height: 15px;
	line-height: 15px;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 15px;
}
