<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="sidebar" ui-view="sidebar"></md-sidenav>
<md-content id="main" layout="column" tabIndex="-1" role="main" ui-view md-scroll-y flex></md-content>
