<md-toolbar>

    <div class="client-toolbar md-toolbar-tools">

        <md-button class="md-icon-button" aria-label="Abrir Sidebar" ng-click="goBack()">
            <md-icon>arrow_back</md-icon>
        </md-button>

        <h2><span>{{product.title}}</span></h2>

    </div>

</md-toolbar>

<md-content class="content">

    <div class="product" layout="row" layout-wrap>

        <md-card class="md-card-products">

            <div class="product-image">

                <img ng-src="{{product.img | uploadDir}}" class="md-card-image" alt="{{product.title}}">
                <span class="md-text md-price" ng-if="product.price">{{product.price | currency:"R$ " }}</span>

            </div>

            <md-card-title layout="row" layout-align="space-between center">

                <md-card-title-text>

                    <span class="md-headline">{{product.title}}</span>

                </md-card-title-text>


                <div class="product-share">
                    <md-button class="md-icon-button" aria-label="Compartilhar este Produto" ng-click="showGridBottomSheet(product.title, product.img, $index)">
                        <md-icon>share</md-icon>
                        <md-tooltip>Compartilhar</md-tooltip>
                    </md-button>
                </div>

            </md-card-title>

            <md-card-content>

                <div class="product-info">

                    <div class="product-info-desc" ng-bind-html="product.desc"></div>

                </div>

                <md-divider></md-divider>

                <div class="product-comments">

                    <md-list>

                        <md-subheader class="md-no-sticky">Avaliações do Produto</md-subheader>

                        <md-list-item ng-show="!AprovedComments(product.comments)">
                            <md-icon>chat_bubble</md-icon>
                            <p>Este Produto ainda não tem avaliações, seja o primeiro.</p>
                        </md-list-item>

                        <md-list-item class="md-3-line md-long-text" ng-repeat="comment in product.comments" ng-if="comment.status">
                            <md-icon>chat_bubble</md-icon>
                            <div class="md-list-item-text" layout="column">
                                <h3>{{comment.name}}</h3>
                                <small>{{comment._created_on | date : 'd MMMM, y'}}</small>
                                <p>{{comment.message}}</p>
                            </div>
                        </md-list-item>

                        <md-button class="md-raised md-accent md-fab md-fab-bottom-right" aria-label="Avaliar Produto" ng-click="addComment($event, $index)">
                            <md-icon>add</md-icon>
                            <md-tooltip>Avaliar Produto</md-tooltip>
                        </md-button>

                    </md-list>

                </div>

            </md-card-content>

        </md-card>

    </div>

</md-content>
