<md-button ng-class="{'active' : isSelected()}" ui-sref="{{sectionmenu.state}}" ng-click="focusSection()">
	<md-icon>{{sectionmenu.icon}}</md-icon>
  	{{sectionmenu.title}}
	<span class="md-visually-hidden" ng-if="isSelected()">current page</span>

</md-button>