
<section id="intro" class="intro-video">

    <div class="container">

        <div class="top-bar">

            <div class="left">
                <a href="index.html" class="current current logo">
                    <img src="_/assets/images/logo-maismenu.png" alt="" />
                </a>
            </div>

            <div class="right">
                <ul class="list-unstyled list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="intro-content">

        <div class="container">
            <h1>Crie agora o seu <strong>Menu</strong></h1>
            <p>Veja como é fácil criar o seu menu, clique no botão abaixo e siga as instruções.</p>
            <a href="#contact" class="btn btn-default btn-transparent" role="button" du-smooth-scroll>Criar menu</a>
        </div>

    </div>

    <div class="intro-overlay"></div>

</section>

<div class="js_fixedcontent" set-class-when-at-top="fix-to-top">

    <nav id="nav1" class="navbar navbar-default">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a du-smooth-scroll du-scrollspy href="#intro">INÍCIO</a></li>
                <li><a du-smooth-scroll du-scrollspy href="#apps">APPS</a></li>
                <li><a du-smooth-scroll du-scrollspy href="#contact">CRIAR MENU</a></li>
                <li><a du-smooth-scroll du-scrollspy href="#services">VANTAGENS & FUNCIONALIDADES</a></li>
                <li><a href="http://sharkdigital.com.br/dev/maismenu/client/teste/index" target="_blank">EXEMPLO DE MENU</a></li>
            </ul>
        </div>

    </nav>

</div>

<section id="services">

    <div class="container">

        <header>
            <h2>CONHEÇA O <span class="bold">MAIS MENU</span></h2>
            <p class="sub-headline">Não gaste mais dinheiro com criação ou impressão de folders e cardápios.</p>
        </header>

        <div class="services-list">

            <div class="row">

                <div class="col-md-4">
                    <div class="diamond">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <h4>PRODUTOS</h4>
                    <p>Gerencie os seus produtos facilmente com a nossa plataforma administrativa.</p>
                </div> <!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="diamond">
                        <i class="fa fa-check"></i>
                    </div>
                    <h4>DINÂMICO</h4>
                    <p>Altere valores, descrições e já tenha isso automaticamente publicado na web.</p>
                </div> <!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="diamond">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <h4>RESPONSIVO</h4>
                    <p>Tenha os seus produtos em exposição em todos os tipos de dispositivos, smartphones, tablets, etc.</p>
                </div> <!-- /.col-md-4 -->

            </div> <!-- /.row -->
        </div> <!-- /.services-list -->

    </div> <!-- /.container -->

</section> <!-- /#services -->

<section class="services2">

    <div class="container">

        <h3>Algumas funcionalidades presentes e futuras do Mais Menu.</h3>

        <div class="row">

            <div class="col-md-4 col-sm-6">
                <div class="left">
                    <i class="fa fa-star"></i>
                </div>
                <div class="right">
                    <h5>PROMOÇÕES</h5>
                    <p>Gerencie suas promoções ou coloque um produto em destaque com nossos banners.</p>
                </div>
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <div class="left">
                    <i class="fa fa-clone"></i>
                </div>
                <div class="right">
                    <h5>CATEGORIAS</h5>
                    <p>Organize os seus produtos por categorias como preferir, simples e prático.</p>
                </div>
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <div class="left">
                    <i class="fa fa-share-alt"></i>
                </div>
                <div class="right">
                    <h5>REDES SOCIAIS</h5>
                    <p>Tenha o seu produto compartilhado nas principais redes sociais, Facebook, Twitter ou Google+.</p>
                </div>
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <div class="left">
                    <i class="fa fa-heart"></i>
                </div>
                <div class="right">
                    <h5>AVALIAÇÕES</h5>
                    <p>Obtenha avaliações sobre seus produtos, veja com seus clientes o que você ainda pode melhorar.</p>
                </div>
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <div class="left">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="right">
                    <h5>DESCRIÇÃO</h5>
                    <p>Insira uma descrição detalhada sobre os seus produtos.</p>
                </div>
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4 col-sm-6">
                <div class="left">
                    <i class="fa fa-search"></i>
                </div>
                <div class="right">
                    <h5>PESQUISA</h5>
                    <p>Dê a possibilidade dos seus clientes acharem o que querem com mais facilidade.</p>
                </div>
            </div> <!-- /.col-md-4 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section> <!-- /#services -->

<!-- <section id="work">

    <div class="container">

        <header>
            <h2>Clientes <span class="bold">Próximos</span></h2>
            <p class="sub-headline">Conheça os estabelecimentos que já aderiram ao <strong>Mais Menu</strong>.</p>
        </header>


        <div class="text-center">
            <button class="btn btn-default" ng-click="getDistance()"><i class="fa fa-map-marker"></i> Buscar clientes próximos</button>

        </div>


        <div class="isotope-container">

            <div ng-if="!loading" class="portfolio-item" ng-repeat="clientd in clientsDistance | orderBy:'distance'" ng-style="{'background-image': 'url(' + clientd.logo + ')'}">

                <a href="/client/#!/{{clientd.client}}/index" title="{{clientd.title}}" target="_blank">
                    <div class="work-overlay">
                        <div class="desc-container">
                            <div class="desc-wrapper">
                                <p class="work-desc-big">{{clientd.title}}</p>
                                <p class="work-desc-small">({{clientd.distance}} km)</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="loading-register" ng-class="{showing: loading}">

            <i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
            <span>Carregando...</span>

        </div>

    </div>

</section> -->

<section id="apps">

    <div class="container">

    <header>

        <h2>BAIXE O APLICATIVO</h2>

    </header>

    <div class="row">

        <div class="col-lg-12">

            <img class="img-responsive center-block" src="_/assets/images/devices.png" alt="Mais Menu Devices" />

            <h3 class="text-center">Fácil de usar e Multiplataforma</h3>

        </div>

    </div>

</div>

</section>

<section id="contact">

    <div class="container">

        <header>
            <h2>VEJA COMO É <span class="bold">FÁCIL</span> CRIAR O SEU MENU</h2>
            <p class="sub-headline">Complete todos os campos abaixo, o cadastro é totalmente gratuito.<br> Ao concluir o cadastro será enviado um e-mail com as informações necessárias para você começar a utilizar o <strong>Meu Menu</strong></p>
        </header>

        <div class="row">

            <div class="col-lg-6 col-lg-offset-3">

                <form id="contactForm" name="clientform" ng-submit="saveClient()" autocomplete="off" novalidate ng-if="register.form">

                    <div class="form-group has-error">

                        <input class="form-control" type="text" name="client" placeholder="Nome de usuário" ng-model="addclient.client" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9]*$/" user-unique required />

                        <div class="help-block with-errors" ng-messages="clientform.client.$error" role="alert">
                            <p class="help-block" ng-message="pattern">Este campo aceita apenas letras e números.</p>
                            <p class="help-block" ng-message="minlength">Este campo tem que ter no mínimo 3 caracteres.</p>
                            <p class="help-block" ng-show="clientform.client.$touched && clientform.client.$error.unique">Este nome de usuário já existe, tente outro.</p>
                        </div>

                    </div>

                    <div class="form-group">
                        <input class="form-control" type="email" ng-show="!clientform.client.$invalid && clientform.client.$dirty" name="email" ng-model="addclient.email" placeholder="Qual o seu E-mail?" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="text" ng-show="!clientform.email.$invalid" name="cep" ng-model="addclient.localization.cep" ng-change="getCEP(addclient.localization.cep)" placeholder="Insira o seu CEP" ng-minlength=8 ng-pattern="/^[0-9]+$/" required>
                        <div class="help-block with-errors" ng-messages="clientform.email.$error" role="alert">
                            <p class="help-block" ng-message="pattern">Este campo aceita apenas números..</p>
                            <p class="help-block" ng-message="minlength">Este campo pode ter no máximo 8 caracteres.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" ng-show="cep.logradouro" type="text" ng-model="addclient.localization.end" placeholder="Endereço:" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" ng-show="cep.bairro" type="text" ng-model="addclient.localization.end2" placeholder="Bairro:" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" ng-show="cep.localidade" type="text" ng-model="addclient.localization.city" placeholder="Cidade:" required>
                    </div>

                    <div class="form-group">
                        <input class="form-control" ng-show="cep.uf" type="text" ng-model="addclient.localization.state" placeholder="Estado/UF:" required>
                    </div>

                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="addclient.aceitatermos" required>Eu li e aceito os Termos e Condições</label>
                    </div>


                    <div class="text-center">
                        <button class="btn btn-default" id="form-submit" type="submit" ng-disabled="clientform.$invalid || !clientform.$dirty">Criar Meu Menu</button>
                    </div>

                </form>

                <div class="register-loading" ng-if="register.sending">

                    <i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
                    <span>Enviando o seu cadastro...</span>

                </div>

                <div class="register-complete" ng-if="register.complete">

                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <h6>Cadastro enviado com sucesso.</h6>
                    <p>Verifique sua caixa de e-mail para seguir as instruções.</p>

                </div>

            </div> <!-- /.col-lg-6 -->

        </div> <!-- /.row -->

    </div> <!-- /.container -->

</section>

<footer>

    <!-- <ul class="list-unstyled list-inline">
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Dribbble</a></li>
    <li><a href="#">Linkedin</a></li>
</ul> -->

      <p class="copyright">&reg; 2016 Mais Menu. Todos os direitos reservados.</p>

      <a class="sharkdev" href="http://sharkdev.com.br" target="_blank" title="Desenvolvido por SHARKDEV">
          <img src="_/assets/images/logo-sharkdev-small.png" alt="logo-sharkdev-small.png" />
      </a>

</footer>
