<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')" ng-if="auth.isLogged" ng-include src="'partials/sidebar.html'" ng-controller="SidebarController"></md-sidenav>
<md-content id="main" layout="column" tabIndex="-1" role="main" ui-view md-scroll-y flex></md-content>
