<md-bottom-sheet class="md-grid" layout="column" ng-cloak>

    <div layout="row" layout-align="center center">
        <h4 class="md-headline">Compartilhar <strong>{{product.title}}</strong></h4>
    </div>

    <div>
        <md-list flex layout="row" layout-align="center center">

            <md-list-item>
                <a class="md-button md-grid-item-content google-share-button" href="https://plus.google.com/share?url={{product.url}}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <md-icon md-svg-src="google"></md-icon>
                    <div class="md-grid-text">Google+</div>
                </a>
            </md-list-item>

            <md-list-item>
                <!-- <a class="md-button md-grid-item-content twitter-share-button" href="https://www.facebook.com/dialog/share?app_id=145634995501895&amp;display=iframe&amp;href={{product.url}}" onclick="javascript:window.open({{product.url}}, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"> -->
                <a class="md-button md-grid-item-content facebook-share-button" href="https://www.facebook.com/sharer/sharer.php?u={{product.url}}" target="_blank">
                    <md-icon md-svg-src="facebook"></md-icon>
                    <div class="md-grid-text">Facebook</div>
                </a>
            </md-list-item>

            <md-list-item>
                <a class="md-button md-grid-item-content twitter-share-button" href="https://twitter.com/share?url={{product.url}}&text={{product.title}} só no {{client.title}}" onclick="javascript:window.open({{product.url}}, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                    <md-icon md-svg-src="twitter"></md-icon>
                    <div class="md-grid-text">Twitter</div>
                </a>
            </md-list-item>

        </md-list>
    </div>

</md-bottom-sheet>
